/* Basic form
    ============================= */
form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 0;
}

label {
  cursor: pointer;
  display: block;
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 0 0 0.5rem;
}

.form-field {
  display: flex;
}

.form-field-container {
  flex: 1;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  padding: 0 0 2rem;
}
