/* Grid
   ============================= */

ul.row {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
}

[class*="col-"] {
  padding: 0.5rem;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}
