/* Section HERO
      ============================= */

.section-hero {
  position: relative;
  margin-top: -8.5rem;
}

.section-hero .section-body {
  padding: 10rem 4rem;
}

.section-hero .section-category {
  color: var(--color-white);
  text-transform: uppercase;
}

.hero-homepage {
  background-position: 75% 0;
  background-repeat: no-repeat;
  background-size: 90rem auto;
  background-color: #010101;
}

.hero-homepage .section-title {
  margin-bottom: 5rem;
}

.hero-homepage .section-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
}

/*** ARTICLE PAGE ***/
/* Section HERO (article)
    ============================= */

.hero-article {
  background-size: 150rem 100rem;
  background-position: 50% 0;
}

.hero-article::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.hero-article .section-inner {
  text-align: center;
  align-items: center;
  min-height: 40vh;
}

.hero-article .section-body {
  position: relative;
  padding: 7rem 0 0;
  z-index: 2;
}
