.navbar-menu {
	float: right; /* Float navbar menu to the right */
}

.nav {
	margin: 0; /* Reset margin */
	padding: 0; /* Reset padding */
	list-style: none; /* Remove list style */
	text-align: center; /* Center-align text */
}

.nav .nav-item {
	font-family: var(--nav-item-font-family);
	font-weight: var(--nav-item-font-weight);
	font-size: var(--nav-item-font-size);
	letter-spacing: var(--nav-item-letter-spacing);
	display: var(--nav-item-display);
	margin: var(--nav-item-margin);
}

.nav .nav-link {
	display: block; /* Display nav links as blocks */
	padding: calc(var(--font-size-medium) / 2) var(--font-size-medium); /* Set padding for nav links */
}

.nav .nav-link:hover {
	color: var(--nav-item-link-hover); /* Change color on hover for nav links */
}
