/* styles/1-style.css */

body {
	color: #161616; /* Set the foreground color value to #161616 for the body */
}

a {
	color: #161616; /* Set the foreground color value to #161616 for all anchor elements */
}

.visually-hidden {
	display: none; /* Set display to none for all elements with the class visually-hidden */
}

.card-category {
	color: #d73953; /* Set the foreground color value to #D73953 for all elements with the class card-category */
}

.section-tagline {
	color: #d73953; /* Set the foreground color value to #D73953 for all elements with the class section-tagline */
}
