.card-work .card-outer {
	position: relative;
	overflow: hidden;
}

.card-work .card-image img {
	height: 30rem;
	width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

.card-work .card-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0; /* Adjusted z-index */
}

.card-work:hover .card-inner {
	background-color: rgba(0, 0, 0, 0.7);
}

.card-work .card-title {
	text-align: center;
	margin: 0;
	opacity: 0;
	height: 100%;
	position: relative;
	z-index: 1; /* Ensure the card-title is above the card-inner */
}

.card-work .card-title a {
	display: block;
	text-decoration: none;
	padding-top: 45%;
}

.card-work .card-title a::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
}

.card-work:hover .card-title {
	opacity: 1;
}

.card-testimonial .card-quote {
	position: relative;
}

.card-testimonial .card-quote::before {
	content: "\201C";
	position: absolute;
	top: -4.5rem;
	left: -1rem;
	color: #efeded;
	font-size: 10rem;
	z-index: -1;
}
