/* styles/3-style.css */

:root {
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);
	--font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
a {
	color: var(
		--text-color
	); /* Reset the color to text-color for body and anchor elements */
}

.card-category,
.section-tagline {
	color: var(
		--color-primary
	); /* Reset the color to color-primary for elements with class card-category and section-tagline */
}

body {
	font-family: var(
		--font-family-base
	); /* Set body's font-family to font-family-base */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(
		--font-family-title
	); /* Set font-family for all heading tags */
}
